.grid{
    margin: 75px;
    width:610px;
}
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    font-style: oblique;
    text-align: center;
    font-weight: bold;
}
.list, .list2{
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: gold;
}
.list{
    float: left;
    padding-left: 10%;
}
.list2{
    float:right;
    padding-right:10%;
}
a{
    color:gold;
}
a:hover {
    transition: all 0.2s ease-in-out;
    color: cyan;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}